// Colors
$black: #222;
$white: #FAFAFA;
$dark: #555;
$light: #DDD;
$red: #F06533;
$yellow: #F2CE3B;
$green: #AFCC17;
$blue: #4491AB;

$mobile-breakpoint: 768px;

@mixin rounded-corners($amount: 5px) {
  border-radius: $amount;
}

@mixin drop-shadow($color: rgba($black, 0.1)) {
  box-shadow: 0px 0px 5px $color;
}

@mixin inset-shadow($color: rgba($white, 0.75)) {
  box-shadow: inset 0px -1px 0px $color;
}

.device {
  $colors: (
    black $black,
    white $white,
    dark $dark,
    light $light,
    red $red,
    yellow $yellow,
    green $green,
    blue $blue
  );

  @each $color in $colors {
    $alt: darken(nth($color, 2), 10%);

    .#{nth($color, 1)} {
      background: nth($color, 2);
      &.inset {
        @include inset-shadow($alt);
      }
    }
  }

  &.desktop, &.laptop, &.browser, &.tablet, &.mobile {
    cursor: default;
    user-select: none;
    .container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }
  }

  &.desktop {

  }
  &.laptop {

  }
  &.browser {
    $browser-width: 1024px;
    $browser-height: 768px;
    position: relative;
    width: 100%;
    height: 400px;
    background: $white;
    border: 1px solid $light;
    @include rounded-corners();
    @include drop-shadow();
    display: inline-block;
    .header {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;
      box-sizing: border-box;
      background: $light;
      overflow: hidden;
      padding: 10px;
      border-bottom: 1px solid darken($light, 10%);
      .left { float: left; }
      .right { float: right; }
      .left, .right {
        overflow: hidden;
        * {
          float: left;
          margin-left: 10px;
          &:first-child { margin-left: 0px; }
        }
        .button {
          $button-size: 12px;
          display: block;
          width: $button-size;
          height: $button-size;
          @include rounded-corners(1000px);
        }
      }
    }
    @media only screen and (max-width: $mobile-breakpoint) {
      height: auto;
      &:after {
        padding-top: ($browser-height / $browser-width) * 100%;
        display: block;
        content: '';
      }
      .container {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .header {
        padding: 5px;
        .left, .right {
          * {
            margin-left: 5px;
          }
          .button {
            $button-size: 8px;
            width: $button-size;
            height: $button-size;
          }
        }
      }
    }
  }
  &.tablet {

  }
  &.mobile {
    $mobile-width: 640px; // iPhone 5
    $mobile-height: 1136px; // iPhone 5
    position: relative;
    width: 100%;
    height: auto;
    background: $white;
    border: 1px solid $light;
    display: inline-block;
    &:after {
      padding-top: ($mobile-height / $mobile-width) * 100%;
      display: block;
      content: '';
    }
    &.landscape {
      &:after {
        padding-top: ($mobile-width / $mobile-height) * 100%;
      }
      .top, .home {
        width: auto;
        height: 100%;
      }
      .top {
        padding: 10px;
        border-bottom: none;
        border-right: 1px solid darken($light, 10%);
      }
      .home {
        top: 0px;
        right: 0px;
        left: initial;
        padding: 20px;
        border-top: none;
        border-left: 1px solid darken($light, 10%);
        .button {
          position: absolute;
          top: 50%;
          left: 50%;
          $button-size: 20px;
          width: $button-size;
          height: $button-size;
          margin-top: -$button-size / 2;
          margin-left: -$button-size / 2;
        }
      }
      @media only screen and (max-width: $mobile-breakpoint) {
        .top { padding: 5px; }
        .home {
          padding: 10px;
          .button {
            $button-size: 10px;
            width: $button-size;
            height: $button-size;
            margin-top: -$button-size / 2;
            margin-left: -$button-size / 2;
          }
        }
      }
    }
    .container {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    @include rounded-corners();
    @include drop-shadow();
    .top, .home {
      position: absolute;
      left: 0px;
      width: 100%;
      z-index: 1;
      box-sizing: border-box;
      background: $light;
      overflow: hidden;
    }
    .top {
      top: 0px;
      border-bottom: 1px solid darken($light, 10%);
      padding: 20px;
    }
    .home {
      bottom: 0px;
      border-top: 1px solid darken($light, 10%);
      padding: 10px;
      .button {
        $button-size: 30px;
        display: block;
        margin: 0 auto;
        width: $button-size;
        height: $button-size;
        @include rounded-corners(1000px);
      }
    }
    @media only screen and (max-width: $mobile-breakpoint) {
      .top {
        padding: 5px;
      }
      .home {
        padding: 5px;
        .button {
          $button-size: 12px;
          width: $button-size;
          height: $button-size;
        }
      }
    }
  }
}
