@import url(http://fonts.googleapis.com/css?family=Oswald:300,700);

$gusto: #F24A1E;

body {
  font-family: 'Oswald', sans-serif;
  color: #444;
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection { background: rgba($gusto, 0.75); color: #FFF; }
::-moz-selection { background: rgba($gusto, 0.75); color: #FFF; }

.text-center { text-align: center; }

h1 {
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  margin-top: 40px;
  font-weight: 300;
}

p {
  margin-top: 0px;
  a {
    text-decoration: none;
    color: $gusto;
    transition: all 0.1s linear;
    &:hover { color: darken($gusto, 10%); }
  }
}
